/npm-debug.log

/test/assets/package-*/
/test/assets/temp-*/
/test/reports
/test/tmp/

/bower.json
/component.json
/node_modules
/src/bower_components
/src/node_modules
/test/sample
!/test/sample/bower.json
/npm-shrinkwrap.json