* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%
}

#nav-panel img {
    width: 35px;
    border: 1px solid black;
    border-radius: 50px;
}

#nav-panel .navbar-right>li:last-child {
    margin-right: 15px;
}

.authorisation {
    text-align: center;
}

#wrapper {
    height: 100%
}

.authorisation .authorisation-panel {
    text-align: center;
}

.authorisation .welcome-header {
    color: #fff;
    margin: 0;
}

div.authorise {
    border: 3px solid deeppink;
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    background-color: #FFE5FD;
    display: inline-block;
    margin-top: 10px;
}

div.authorise span {
    color: pink;
}

div.authorise input {
    width: 100%;
    margin-bottom: 5px;
}

div.authorise a {
    border: 1px solid hotpink;
    border-radius: 5px;
    background-color: pink;
    text-decoration: none;
    color: darkblue;
}

div#profile {
    border: 1px solid purple;
    width: 500px;
    padding: 10px;
}

div#profile>div {
    border: 1px solid purple;
}

div#profile div#profile-preview {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px;
}

div#profile div#profile-preview img {
    width: 100px;
}

div#profile div#profile-edit {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5px;
}

div#profile .edit-profile-buttons {
    text-decoration: none;
    color: darkred;
    border: 1px solid red;
    border-radius: 5px;
    background-color: pink;
}

.containers {
    float: left;
    border: 1px solid yellow;
    color: pink;
    margin: 1px;
}

#container {
    width: 60%;
}

#container-right {
    width: 19%;
}

#container-left {
    width: 19%;
}

.containers::after {
    content: "";
    display: block;
    clear: both;
}


/*MUST BE DELETED-START*/

#post-context {
    border-radius: 20px;
    border-top-left-radius: 0px;
    background-color: pink;
    padding: 10px;
    padding-bottom: 40px;
    width: 443px;
    color: black;
    display: block;
}

#post-message {
    width: 50%;
    position: relative;
    left: 50%;
    /*top:5%;*/
    transform: translate(-50%, 0%);
}

#post-btn,
#post-img {
    border-radius: 20px;
    background-color: hotpink;
    margin-top: 10px;
    float: right;
}


/*MUST BE DELETED-END*/


/* wild magic do not touch, delete only if too much pink! */

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: hotpink;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: hotpink;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: hotpink;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: hotpink;
}